/* rm relitive to div size rem relitive to the whole brouser */



body{
    font-size: 16px;
    font-family: sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
    color: blue;
    font-size: 2em;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

p{
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "hr hr hr hr hr hr hr hr hr hr hr hr"
        ". . m m m m m m m m . ."
        ". hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 ."
        ". . i i i i i i i i . ."
        ". . a a a a a a a a . ."
        "f f f f f f f f f f f f"
    ;   
}

.wrapper2{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-areas: 
        "mh mh mh mh mh mh mh mh mh mh mh mh"
        ". . . . . d d . . . . ."
        "mp mp mp mp mp mp mp mp mp mp mp mp"
    ;   
}

.mainMap{
    grid-area: mp;
}


.header{
    grid-area: h;
    padding: 1.5em .5em;
    background-color: black;
    display: flex;
    justify-content: center;
}

.header img{
    width: 50%;
}

.back{
    width:42px;
    height:42px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    margin-right: 30px;
}

.mapHeader{
    grid-area: mh;
    position: sticky;
    padding: 1.5em .5em;
    background-color: black;
    display: flex;
    justify-content: center;
}



.mapHeader img{
    width: 50%;
}



.about{
    padding: 30px;
}

.back{
    height: 60px;
}




/* this is all the drop down css */
.dropdown{
    position: relative;
    display: inline-block;
    padding: 15px;
    grid-area: d;
    margin-left: 30px;
    border: none;
}

.yearbut{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.years {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.years a {
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.years a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .years {
    display: block;
}

.dropdown:hover .yearbut {
    background-color: white;
    color: black;
}



/* end of drop down css */

.info{
    grid-area: i;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr; 
}

input[type=text]{
    margin: 10px;
    width: auto;
    height: 15px;
}

.contact{
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}

.donat{
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}

.hero{
    grid-area: hr;
    position: relative;
}

.hero2{
    display: grid;
    grid-area: hr2;
    grid-template-columns: 1fr 1fr;
}

/* this is the css for the button on the home page to the map */

.hero .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 120px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}

.hero .btn:hover{
    background-color: white;
    color: black;
}


.main{
    grid-area: m;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr 1fr;
}

.main > div{
    padding: 1em;
}

.footer{
    grid-area: f;
    background-color: black;
    color: white;
    padding: 1.5em .5em;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer p{
    width: 70%;
}

@media (max-width: 1024px) {

}

@media (max-width: 750px) {
    .hero2{
        grid-template-columns:1fr;
    }
    .main {
        grid-template-columns: 1fr 1fr;
    }
    .footer p{
        width: 80%;
    }
}

@media (max-width: 425px) {
 
    .main {
        grid-template-columns: 1fr;
    }
    
    .info{
        grid-template-columns: 1fr;
    }
    
    .header img{
        width: 80%;
    }

    .mapHeader img{
        width: 80%;
    }
    
    .footer p{
        width: 80%;
    }

}